body{
    padding: 100px;
}
body h1{
    margin-bottom: 50px;
}
.submit-area{
    height: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
section .email{
    width: 100%;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
}
section .password{
    width: 100%;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
}
section .enter{
    width: 60px;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-align: center;
    border: none;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.col-md-6{
    margin-top: 40px;
}
.col-md-6 h4{
    margin-top: 40px;
}
.submit-area .form-control{
    margin-top: 30px;
}
.col-md-6 .form-control{
    margin-bottom: 30px;
}